@value colors: "../../global-style/color.module.css";
@value (mainPurpleColor) from colors;

.dashboardWrapper {
    text-transform: uppercase;
}

h1 {
    width: 300px;
}

.dashboardWrapper>div:nth-child(2) {
    margin-top: 100px;
}

.searchSectionWrapper,
.audienceSection {
    display: flex;
}

.searchSectionWrapper>div:first-child {
    width: 70%;
    max-width: 750px;
    margin-right: 60px;
}

.cardWrapper {
    width: 100%;
    margin: 10px 0 5px;
    cursor: pointer;
    border-left: 4px solid transparent;
    color: grey;
}

.cardWrapper:hover {
    border-left: 4px solid mainPurpleColor;
}

.cardField {
    text-transform: uppercase;
    padding: 10px 15px;
}

.searchInputField,
.searchInputField:focus {
    border: none;
    outline: none;
    border-color: transparent;
    width: 100%;
}

.searchInputField::placeholder {
    color: grey;
}

.destinationUrl {
    display: flex;
    position: relative;
    padding: 15px;
}

.destinationUrl>i {
    padding-top: 5px;
    margin-left: 30px;
}

.shortenBtn {
    position: absolute;
    top: -7%;
    left: 98%;
}

.fieldsLabel {
    font-size: 12px;
    font-weight: 700;
    margin-left: 10px;
}

.searchButtonWrapper {
    display: flex;
}

.searchBtn {
    padding: 2px;
    min-width: 60px;
    position: relative;
}

.searchBtnIcon {
    position: absolute;
    bottom: -5px;
    right: -2px;
    background: #fff;
}

.searchBtn>button {
    padding: 0 10px!important;
    margin: 0 5px;
}

.audienceInfo {
    text-transform: none; 
}

.audienceSection>div:first-child {
    width: 300px;
}

.audienceSection>div:nth-child(2) {
    width: calc(100% - 300px);
    margin-top: 30px;
}

.audienceSection>div>h6 {
    font-weight: 700;
}

.audienceSection>div>p {
    margin: 5px 0;
}

.audienceSection>div>h1 {
    margin-bottom: 40px;
}

.launch_arrow {
    margin-left: 10px;
    width: 11px;
}

.audienceSectionWrapper {
    width: 410px;
}

.audienceSection {
    position: relative;
}

.backgroundImg {
    background-image: url(/assets/images/backgroundImg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 500px;
    width: calc(100vw - 370px);
    position: absolute;
    top: 10px;
    right: -120px;
    z-index: -1111;
}

@media (max-width: 1190px) {
    .searchSectionWrapper,
    .audienceSection {
        display: block;
    }

    .searchSectionWrapper>div:first-child {
        width: 100%;
        max-width: 750px;
        margin-right: 0;
    }

    .searchSectionWrapper>div:nth-child(2) {
        width: 100%;
        max-width: 150px;
    }

    .audienceSection>div:nth-child(2) {
        width: 100%;
    }

    .audienceSectionWrapper {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 960px) {
    .backgroundImg {
        width: 100vw;
        top: 190px;
        right: -40px;
    }
}

@media (max-width: 490px) {
    .audienceSectionWrapper>div {
        display: block;
    }
}
