.application {
    position: relative;
}

.mainAppWrapper {
    display: flex;
}

.leftSideBarSection {
    width: 425px;
    margin-top: 17px;
}

.rightMainSection {
    width: calc(100% - 425px);
}


@media (max-width: 960px) {
    .rightMainSection {
        width: 100%;
    }
}