.application {
    position: relative;
}

.mainAppWrapper {
    display: flex;
}

.leftSideBarSection {
    width: 350px;
}

.rightMainSection {
    width: calc(100% - 350px);
}


@media (max-width: 960px) {
    .rightMainSection {
        width: 100%;
    }
}